.cfg
.ICEauthority
.Xauthority
.bash_history
.bash_logout
.bash_profile
.cache/
.config/Mousepad/
.config/dconf/
.config/nvim/plugged/
.config/pulse/
.config/tmux/plugins/
.config/user-dirs.dirs
.config/user-dirs.locale
.dbus/
.dmrc
.gitconfig
.inputrc
.local/share/gvfs-metadata/home-be129760.log
.local/share/qBittorrent/
.mozilla/
.mysql_history
.ssh/
.tmux/
.xsession-errors
.xsession-errors.old
Downloads/
Videos/
lynis-report.dat
lynis.log
mYsTuFf/
void-packages/
.local/state/
.local/share/recently-used.xbel
.config/xfce4/xfconf/xfce-perchannel-xml/thunar.xml
.config/chromium/
.config/qBittorrent/lockfile
.config/qBittorrent/rss/storage.lock
.config/vifm/
.config/xfce4/help.rc
.local/share/gvfs-metadata/home-1b950e16.log
.local/share/lf/
.local/share/ranger/
.pki/
.config/qBittorrent/qBittorrent-data.conf
.local/share/gvfs-metadata/home-6bd461a5.log
.local/share/gvfs-metadata/root-db53c44c.log
.local/share/icons/Catppuccin-Mocha-Blue-Cursors/
.local/share/icons/Catppuccin-Mocha-Dark-Cursors/
.local/share/icons/Catppuccin-Mocha-Flamingo-Cursors/
.local/share/icons/Catppuccin-Mocha-Green-Cursors/
.local/share/icons/Catppuccin-Mocha-Lavender-Cursors/
.local/share/icons/Catppuccin-Mocha-Light-Cursors/
.local/share/icons/Catppuccin-Mocha-Maroon-Cursors/
.local/share/icons/Catppuccin-Mocha-Mauve-Cursors/
.local/share/icons/Catppuccin-Mocha-Peach-Cursors/
.local/share/icons/Catppuccin-Mocha-Pink-Cursors/
.local/share/icons/Catppuccin-Mocha-Red-Cursors/
.local/share/icons/Catppuccin-Mocha-Rosewater-Cursors/
.local/share/icons/Catppuccin-Mocha-Sapphire-Cursors/
.local/share/icons/Catppuccin-Mocha-Sky-Cursors/
.local/share/icons/Catppuccin-Mocha-Teal-Cursors/
.local/share/icons/Catppuccin-Mocha-Yellow-Cursors/
.config/GIMP/
.config/Images/
.config/QtProject.conf
.config/autostart/
.config/composer/
.config/i3/
.config/qmk/
.config/sqlitebrowser/
.config/vlc/
.config/wallpaper.jpg
.config/xfce4/xfconf/xfce-perchannel-xml/xfce4-taskmanager.xml
.dropbox-dist/
.dropbox/
.fehbg
.local/share/Trash/
.local/share/composer/
.local/share/glances/
.local/share/gvfs-metadata/home-1aa4895c.log
.local/share/gvfs-metadata/root-40422e3e.log
.local/share/gvfs-metadata/uuid-01b365cd-b920-4610-a952-cc2aaa344527
.local/share/gvfs-metadata/uuid-01b365cd-b920-4610-a952-cc2aaa344527-63a2545e.log
.local/share/vimb/
.local/share/vlc/
.npm/
Dropbox/
Pictures/

qmk_firmware/
.local/share/gvfs-metadata/*
