.cfg
.ICEauthority
.Xauthority
.bash_history
.bash_logout
.bash_profile
.cache/
.config/Mousepad/
.config/dconf/
.config/nginx/
.config/nvim/plugged/
.config/pulse/
.config/tmux/plugins/
.config/user-dirs.dirs
.config/user-dirs.locale
.dbus/
.dmrc
.gitconfig
.inputrc
.local/share/gvfs-metadata/home-be129760.log
.local/share/qBittorrent/
.mozilla/
.mysql_history
.ssh/
.tmux/
.xsession-errors
.xsession-errors.old
Downloads/
Videos/
lynis-report.dat
lynis.log
mYsTuFf/
void-packages/
.local/state/
